asgiref==3.11.1
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
cryptography==49.0.0
Django==6.0.7
google-auth==2.55.2
google-auth-oauthlib==1.4.0
idna==3.18
oauthlib==3.3.1
psycopg[binary]==3.2.13
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
python-dotenv==1.2.2
requests==2.34.2
requests-oauthlib==2.0.0
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
